Repository moodie-team/moodiverse-back, pull requests merged in 2023-07, with the labels that each got.

#26 Initial create
  .gitignore
  Moodiverse/.idea/.idea.Moodiverse-backend/.idea/.name
  Moodiverse/.idea/.idea.Moodiverse/.idea/.gitignore
  Moodiverse/.idea/.idea.Moodiverse/.idea/encodings.xml
  Moodiverse/.idea/.idea.Moodiverse/.idea/indexLayout.xml
  Moodiverse/.idea/.idea.Moodiverse/.idea/vcs.xml
  Moodiverse/Moodiverse-backend.sln
  Moodiverse/Moodiverse.WebAPI/Controllers/WeatherForecastController.cs
  Moodiverse/Moodiverse.WebAPI/Moodiverse.WebAPI.csproj
  Moodiverse/Moodiverse.WebAPI/Program.cs
  Moodiverse/Moodiverse.WebAPI/Properties/launchSettings.json
  Moodiverse/Moodiverse.WebAPI/WeatherForecast.cs
  Moodiverse/Moodiverse.WebAPI/appsettings.Development.json
  Moodiverse/Moodiverse.WebAPI/appsettings.json
  Moodiverse/global.json
Labels: good first issue

#27 feature/create-sex-and-DTOs
  Moodiverse/Moodiverse.WebAPI/Models/Common/BaseDomain.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/SexDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/Domain/Sex.cs
Labels: model

#29 feature/create-Avarat-domain-and-DTO
  Moodiverse/Moodiverse.WebAPI/Models/DTO/AvatarDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/Domain/Avatar.cs
Labels: model

#30 feature/create-Mood-domain-and-DTOs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/MoodDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/Domain/Mood.cs
Labels: model

#31 feature/create-User-domain-and-DTOs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/AvatarDTO/AvatarDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/MoodDTO/MoodDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/SexDTO/SexDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/UserDTO/DeleteUserDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/UserDTO/LoginUserDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/UserDTO/RegisterUserDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/UserDTO/UpdateUserDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/UserDTO/UpdateUserEmailDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/UserDTO/UpdateUserPassDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/UserDTO/UserDataDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/Domain/User.cs
Labels: model

#32 feature/create-Record-domain-and-DTOs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/RecordDTO/CreateRecordDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/RecordDTO/DeleteRecordDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/RecordDTO/GetRecordDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/RecordDTO/RecordRoundStatisticsResponseDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/RecordDTO/RecordStatisticsRequestDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/RecordDTO/RecordTabularStatisticsDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/DTO/RecordDTO/UpdateRecordDto.cs
  Moodiverse/Moodiverse.WebAPI/Models/Domain/Record.cs
Labels: model

#33 feature/create-DataContext
  Moodiverse/Moodiverse.WebAPI/Data/MoodiverseDbContext.cs
  Moodiverse/Moodiverse.WebAPI/Migrations/20230707121824_InitialMigration.Designer.cs
  Moodiverse/Moodiverse.WebAPI/Migrations/20230707121824_InitialMigration.cs
  Moodiverse/Moodiverse.WebAPI/Migrations/MoodiverseDbContextModelSnapshot.cs
  Moodiverse/Moodiverse.WebAPI/Models/Common/BaseDomain.cs
  Moodiverse/Moodiverse.WebAPI/Models/Domain/User.cs
  Moodiverse/Moodiverse.WebAPI/Program.cs
  Moodiverse/Moodiverse.WebAPI/appsettings.json
Labels: feature, dataContext

#35 Create base service
  Moodiverse/Moodiverse-backend.sln
  Moodiverse/Moodiverse.BL/Moodiverse.BL.csproj
  Moodiverse/Moodiverse.BL/Services/Abstract/BaseService.cs
  Moodiverse/Moodiverse.WebAPI/Moodiverse.WebAPI.csproj
  Moodiverse/Moodiverse.WebAPI/appsettings.json
Labels: feature, service

#36 feature/add-Automapper-services
  Moodiverse/Moodiverse.WebAPI/Mapping/AutoMapperProfiles.cs
  Moodiverse/Moodiverse.WebAPI/Moodiverse.WebAPI.csproj
  Moodiverse/Moodiverse.WebAPI/Program.cs
Labels: feature, service
